[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube-dl = "==2021.6.6"
nextcord = "==2.0.0a3"
arrow = "==1.2.0"
colorama = "==0.4.4"
ffmpeg = "==1.4"

[dev-packages]
gitpython = "==3.1.24"
pyinstaller = "==4.5.1"
pyinstaller-hooks-contrib = "==2021.3"

[requires]
python_version = "3.9"