aiohttp==3.7.4.post0
arrow==1.2.1
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
colorama==0.4.4
ffmpeg==1.4
idna==3.3
multidict==5.2.0
nextcord==2.0.0a3
python-dateutil==2.8.2
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
yarl==1.7.0
youtube-dl==2021.6.6
