@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Turret+Road:wght@800&display=swap');

html {
    background-color: rgb(30, 39, 46);
    padding: 30px
}
* {
    font-family: 'Roboto Mono', monospace;
    color: rgba(200, 229, 210,1.0);
}
#content {
    width: 800px;
    margin: 0 auto;
}

/*************** Colours and base styles ***************/

a{
    color: rgb(6, 227, 164);
    font-weight: bold;
}
h1, h2 {
    font-family: 'Turret Road', monospace;
    /* letter-spacing: 0.07em; */
    font-weight: normal;

    margin-bottom: 3px;
    margin-top: 30px;
    border-bottom: 4px solid rgba(6, 227, 164, 0.2);
    display: inline-block;
    line-height: 0.4;
}
/* .punctuation {color: rgba(6, 227, 164, 1)} */
h1    {font-size: 3em}
h2    {font-size: 2em}
li, p {line-height: 1.75;}
li    {margin: 25px 0 25px 0}

.footer {
    position: fixed;
    right: 20px;
    bottom: 0;
    width: 100%;
    text-align: right;
}
.footer p {
    line-height: 1.4;
    font-size: 0.7em;
    color: rgba(255,255,255,0.3);
}

/***************** Fancy list stylings *****************/

.styled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.styled li {
  padding-left: 2rem;
}

.styled li:nth-child(1)::before {
  content: "👩‍💻 ";
}
.styled li:nth-child(2)::before {
  content: "📖 ";
}
.styled li:nth-child(3)::before {
  content: "👐 ";
}
.styled li:nth-child(4)::before {
  content: "💵 ";
}
.styled li:nth-child(5)::before {
  content: "🤷‍♀️ ";
}

/*******************************************************/
