DISCORD_BOT_TOKEN = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
FFMPEG_PATH       = "C:/ffmpeg/bin/ffmpeg.exe"
COMMAND_PREFIX    = "!"
MAX_IDLE_TIME     = 120

SPOTIPY_CLIENT_ID     = ""
SPOTIPY_CLIENT_SECRET = ""