aiohttp==3.7.4.post0
altgraph==0.17.2
arrow==1.2.1
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
colorama==0.4.4
ffmpeg==1.4
gitdb==4.0.9
GitPython==3.1.24
idna==3.3
multidict==5.2.0
nextcord==2.0.0a3
pep8==1.7.1
pycodestyle==2.8.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
python-dateutil==2.8.2
six==1.16.0
smmap==5.0.0
toml==0.10.2
typing-extensions==3.10.0.2
yarl==1.7.0
youtube-dl==2021.6.6
