DISCORD_BOT_TOKEN = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
FFMPEG_PATH       = "C:/ffmpeg/bin/ffmpeg.exe"
COMMAND_PREFIX    = "!"
MAX_IDLE_TIME     = 120

SPOTIPY_CLIENT_ID     = "eb1a28b633e94930a1d4c421c49a8412"
SPOTIPY_CLIENT_SECRET = "e51d780c576447e2a2d31b61b27edd8b"